:root{
    --primary-color:  #003d62;
    --secondary-color:   #00ADE6 ;
    --third-color:#003251;
    --text-color:#000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 1.4rem;
    
}
header{
    background:var(--secondary-color);
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    position: sticky;
    color: var(--text-color);
    top: 0;
}
header ul {
    display: flex;
}
header ul li{
    margin: 0 20px;
    list-style: none;
    border-bottom:3px solid transparent ;
    transition: border 0.3s ease-in-out;

}
header ul li:hover{
    border-bottom: 3px solid var(--text-color);
    transition: border 0.3s ease-in-out;
}
header ul li a{
    text-decoration: none;
    color: var(--text-color);

    font-weight: 300;

}

header h1{
    font-weight: bold;
    font-size: 1.3em;
}
.hero{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background: var(--primary-color);
    border-bottom: 4px solid var(--secondary-color);
}
.hero .img{
    margin: 80px 0;
}

.hi-text{
    font-size: 2.3em;
    font-weight: bold;
    color: white;

}
.dwn-txt{
    font-size: 2.2em;
    font-weight: bold;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    color: white;
    animation: typing 7s steps(100, end) infinite,blink-caret .75s step-end infinite;
    
}
.yellow{
    color: yellow;
}
.Projects{
    background: var(--third-color);
    min-height:150vh ;
    border-bottom: 3px solid var(--secondary-color);
}
.showCase{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    width: 1300px;
    gap: 2rem;
    place-items: center;
    margin-left: 80px;
    margin: auto;
}
.showCase .img{
    width: 500px;
}
.Projects h1{
    color: white;
    text-align: center;
    margin-bottom: 100px;
    font-size: 3em;
}
.Projects h3{
    color: white;
}
.card{
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius:0.5rem ;
    overflow: hidden;
    transition: 0.2s;

}
.card:hover{
    transform: scale(1.05);
    transition: 1s;
}
.card:hover img{
    transform: scale(1.05);
    transition: 1s;
}
.card .card_content{
    position: relative;
    font-size: 1rem;
    top: -6rem;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: -6.5rem;
    transition: 0.3s ease-in-out;
    background: #fff;
    transform: translateY(100px);
}
.card:hover .card_content{
    transform: translateY(0px);
}
.card_content h3{
    color: #163555;
}
.card_content a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    background: var(--primary-color);
    color: white;
}
.container h2{
    margin-top: 50px;
    font-size: 3rem;
}
.top_contact{
    display: flex;
    justify-content: space-between;

}
.contact_way{
    display: flex;
    align-items: center;
    margin: 2vh 2vw;
    transition: 0.3s all ease-in-out;
    color: white;
    cursor: pointer;
}
.contact_way i{
    margin-right: 5px;
}
.bottom_contact{
    display: flex;
    justify-content: space-between;
}
.contact_way:hover{
    box-shadow: 5px 5px 2px white;
    scale: 1.1;
    transition: 0.3s all ease-in-out;
}
footer{
    font-size: 0.8em;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: var(--text-color);
}
@media screen and (max-width:1300px){
    header{
        flex-direction: column;
        height: 100px;
    }
    .hero{
        flex-direction: column;
        padding-bottom: 10vh;
    font-size:0.7em ;

    }
    .Projects{
        display: flex;
        flex-wrap: wrap;
    }
    .container{
        text-align: center;
    }
    .container h2{
        margin-bottom:5vh ;
        width: 100%;
        font-size: 2rem;
    } 
    .container .bottom_contact,.top_contact{
        flex-direction: column;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
    }
    .Projects{
        padding-bottom: 20vh;
    }
    .Projects h1{
       margin: auto;
    }
}

  @keyframes typing {
    0% {
         width: 0%
        }
    50% { 
        width: 100% 
    }
    75%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }